@keyframes moveInLeft { /*animation defined by @keyframes and name*/
    0% {
        opacity: 0;
        transform: translateX(-10rem);  /* goes from left to right*/
    }

    /* 60% {
        transform: rotate(180deg);
    } */

    80% {
        transform: translateX(1rem);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight { /*animation defined by @keyframes and name*/
    0% {
        opacity: 0;
        transform: translateX(10rem);  /* goes from right to left*/
    }

    80% {
        transform: translateX(-1rem);

    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }


    100% {
        opacity: 1;
        transform: translate(0);
    }
}